.App {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

input {
	
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 20px;
	background-color: #f2f2f2;
	color: #333;
	margin-bottom: 10px;
}
